@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 id="title">Skills Tracker</h1>
<ol>
    <li>C#</li>
    <li>Python</li>
    <li>JavaScript</li>
</ol>
<a href="/Skills/Update">Update your progress</a>