@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Skills/Progress" method="post">
    <label for="language1">C#:</label>
    <input type="number" name="language1" max="100"><br><br>
    <label for="language2">Python:</label>
    <input type="number" name="language2" max="100"><br><br>
    <label for="language3">JavaScript:</label>
    <input type="number" name="language3" max="100"><br><br>
    <label for="date">Date Updated:</label>
    <input type="date" name="date"><br><br>
    <input type="submit" value="Submit">
</form>
